:root{
    --black: #141414;
    --red: #E50914;
}
*{
    box-sizing: border-box;
    color:#ffffff;
}
body{
    background: var(--black);
    font-family: 'Times New Roman', Times, serif;
}
header{
    display: flex;
    height: 80px;
}
header .container{
    align-items: center;
    display: flex;
    margin: 12px auto;
    justify-content: space-between;
    width: 70%;
}
header .logo{
    color: var(--red);
    display: inline;
    font-family: 'Arial Black', Times;
    font-size: 30px;
}
header nav a{
    text-decoration: none;
    color: #AAAAAA;
    margin-right: 10px;
}
.nav-menu{
    padding: 4px;
}
.nav-ul li{
    display: inline;
}
.header-menu{
    align-content: space-around;
}
.header-menu a:hover{
    color: white;
}
.destaque{
    align-items: flex-start;
    background:linear-gradient(rgba(0,0,0,.10),rgba(0,0,0,100%)), url('../img/tgd.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 400px;
    justify-content: center;
}
.destaque .destaque-descricao{
    margin-top: 10px;
}
.destaque .destaque-button{
    align-items: center;
    border-radius: 0.14rem;
    display: flex;
    font-size: 16px;
    margin: auto 8px;
    padding: 10px 8px;
    position: relative;
    bottom: 40px;
}
.destaque .container{
    margin: auto 8px;
}
.destaque .destaque-titulo{
    font-family:'Trebuchet MS', Arial, sans-serif;
    font-size: 50px;
}
.destaque .destaque-descricao{
    width: 490px;
}
.botoes{
    display: flex;
}
.icons{
    margin-right: 4px;
}
#mais-infos{
    background-color: rgba(100,100,100,0.2);
}
#assistir{
    background-color: var(--red);
}
#mais-infos:hover{
    background-color: rgba(250, 250, 250, 0.3);
    cursor: pointer;
    transition-duration: 0.15s;
}
#assistir:hover{
    background-color: rgb(167, 0, 0);
    cursor: pointer;
    transition-duration: 0.2s;
}