<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-title-card></app-title-card>
<div class="articles">
  <div class="articles__main">
    <app-big-card
    photoCoverBig="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltd904b400fb31b98b/60c101f73a3d1a5f519eb98d/TORNEIOS_DE_COMUNIDADE_TFT_T2.jpg"
    cardTitleBig="Torneios de Comunidade - Teamfight Tactics - 16/08 a 22/08"
    cardDescriptionBig="Torneios criados pela comunidade para a comunidade!"
    link="https://www.leagueoflegends.com/pt-br/news/community/torneios-de-comunidade-teamfight-tactics-23-08-a-29-08/"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      photoCoverSmall="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt8736121d4836c286/64daaa33e1abb71aa84e3bcd/LoL_MythicDarkCosmicJhin_HPO2.jpg"
      cardTitleSmall="Jhin Erradicação do Cosmos Negro"
      cardDescriptionSmall="Um apanhado das novas skins Variantes Míticas e a primeira delas: Jhin Erradicação do Cosmos Negro"
      link="https://www.leagueoflegends.com/pt-br/news/game-updates/variantes-miticas-jhin-erradicacao-do-cosmos-negro/"
      ></app-small-card>
    <app-small-card
      photoCoverSmall="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltc897fdbf35b82952/64c17a667b7f98fe3b9ff44d/00HeaderJhin.jpg"
      cardTitleSmall="Resumo: Comunicação do meio do ano – Atual. Dev"
      cardDescriptionSmall="Riot Brightmoon e Meddler fazem um breve resumo das atualizações."
      link="https://www.leagueoflegends.com/pt-br/news/dev/resumo-comunicacao-do-meio-do-ano-atual-dev/"
    ></app-small-card>
    <app-small-card
      photoCoverSmall="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blte722b0e714bfaf51/64b85ecb4855e944b1f994d3/TFT_ArticleBanner_Heimerdinger_1920x1080_v001_ASteme.jpg"
      cardTitleSmall="Papo Tático: Equipe de Análise de Jogo (EAJ)"
      cardDescriptionSmall="Conheça a nova EAJ! Saiba mais sobre o papel deles na criação de conjuntos e balanceamentos."
      link="https://www.leagueoflegends.com/pt-br/news/dev/papo-tatico-equipe-de-analise-de-jogo-eaj/"
      ></app-small-card>
  </div>
</div>
