.small-card__content{
  height: 140px;
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.small-card__img img{
  width: 220px;
}
.small-card__text{
  margin-left: 1rem;
}
.small-card__description p{
  color: rgb(131, 131, 131);
}
