.container_menu-bar{
  padding: 0;
  margin-top: 1.5rem;
}
.container_menu-bar ul{
  display: flex;
  flex-direction: row;
}
.container_menu-bar ul > li{
  font-size: 1rem;
  margin-right: 1.5rem;
  padding: 0;
}
